# Flutter/Dart
.dart_tool/
.packages
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
*.log
.env
